In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('salary_data.csv')

In [9]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [4]:
data['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [6]:
data['income_bracket']=data.income_bracket.apply(label_fix)

In [8]:
data.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
x_data=data.drop('income_bracket',axis=1)

In [12]:
y_label=data['income_bracket']

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_label, test_size=0.3, random_state=101)

In [15]:
x_train.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
20895,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,28,United-States
3384,47,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,Black,Female,15024,0,40,United-States
1832,46,Local-gov,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,24,United-States
18919,46,State-gov,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,48,United-States
31685,60,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States

In [16]:
y_train.head()

20895    0
3384     1
1832     0
18919    0
31685    0
Name: income_bracket, dtype: int64

In [17]:
data.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [18]:
import tensorflow as tf

In [19]:
gender=tf.feature_column.categorical_column_with_vocabulary_list("gender",["Female","Male"])

In [20]:
occp=tf.feature_column.categorical_column_with_hash_bucket("occupation",hash_bucket_size=1000)

In [21]:
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [22]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

In [24]:
feat_cols=[gender,occp,marital_status,relationship,education,workclass,native_country,age,
            education_num,capital_gain,capital_loss,hours_per_week]

In [25]:
input_fun=tf.estimator.inputs.pandas_input_fn(x_train,y_train,batch_size=10,num_epochs=None,shuffle=True)

In [26]:
model=tf.estimator.LinearClassifier(feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: C:\Users\HIYANA~1\AppData\Local\Temp\tmpnuii7xvh
INFO:tensorflow:Using config: {'_model_dir': 'C:\\Users\\HIYANA~1\\AppData\\Local\\Temp\\tmpnuii7xvh', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x0000023498EEBD68>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [27]:
model.train(input_fn=input_fun,steps=10000)

WARNING:tensorflow:From C:\Users\hiya namdeo\Anaconda3\lib\site-packages\tensorflow_core\python\training\training_util.py:236: Variable.initialized_value (from tensorflow.python.ops.variables) is deprecated and will be removed in a future version.
Instructions for updating:
Use Variable.read_value. Variables in 2.X are initialized automatically both in eager and graph (inside tf.defun) contexts.
WARNING:tensorflow:From C:\Users\hiya namdeo\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From C:\Users\hiya namdeo\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\inputs\queues\feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From C:\Users\hiya namdeo\Anaconda3\lib\site-packages\tensorflow_core\python\feature_column\feature_column_v2.py:305: Layer.add_variable (from tensorflow.python.keras.engine.base_layer) is deprecated and will be removed in a future version.
Instructions for updating:
Please use `layer.add_weight` method instead.
WARNING:tensorflow:From C:\Users\hiya namdeo\Anaconda3\lib\site-packages\tensorflow_core\python\ops\resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.
WARNING:tensorflow:From C:\Users\hiya namdeo\Anaconda3\lib\site-packages\tensorflow_core\python\ops\embedding_ops.py:802: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From C:\Users\hiya namdeo\Anaconda3\lib\site-packages\tensorflow_estimator\python\estimator\canned\linear.py:308: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.cast` instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From C:\Users\hiya namdeo\Anaconda3\lib\site-packages\tensorflow_core\python\training\monitored_session.py:882: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into C:\Users\HIYANA~1\AppData\Local\Temp\tmpnuii7xvh\model.ckpt.
INFO:tensorflow:loss = 6.931472, step = 1
INFO:tensorflow:global_step/sec: 161.28
INFO:tensorflow:loss = 4.0114694, step = 101 (0.621 sec)
INFO:tensorflow:global_step/sec: 351.244
INFO:tensorflow:loss = 1.1512264, step = 201 (0.285 sec)
INFO:tensorflow:global_step/sec: 338.785
INFO:tensorflow:loss = 695.4363, step = 301 (0.294 sec)
INFO:tensorflow:global_step/sec: 371.363
INFO:tensorflow:loss = 2.644583, step = 401 (0.270 sec)
INFO:tensorflow:global_step/sec: 295.324
INFO:tensorflow:loss = 10.244844, step = 501 (0.339 sec)
INFO:tensorflow:global_step/sec: 333.109
INFO:tensorflow:loss = 133.56395, step = 601 (0.300 sec)
INFO:tensorflow:global_step/sec: 332.423
INFO:tensorflow:loss = 2.0974154, step = 701 (0.301 sec)
INFO:tensorflow:global_step/sec: 330.907
INFO:tensorflow:loss = 15.012342, step = 801 (0.302 sec)
INFO:tensorflow:global_step/sec: 333.114
INFO:tensorflow:loss = 9.219105, step = 901 (0.299 sec)
INFO:tensorflow:global_step/sec: 327.249
INFO:tensorflow:loss = 62.204334, step = 1001 (0.306 sec)
INFO:tensorflow:global_step/sec: 302.878
INFO:tensorflow:loss = 1.1734077, step = 1101 (0.330 sec)
INFO:tensorflow:global_step/sec: 324.588
INFO:tensorflow:loss = 177.23264, step = 1201 (0.309 sec)
INFO:tensorflow:global_step/sec: 344.517
INFO:tensorflow:loss = 18.863989, step = 1301 (0.290 sec)
INFO:tensorflow:global_step/sec: 334.228
INFO:tensorflow:loss = 27.275335, step = 1401 (0.299 sec)
INFO:tensorflow:global_step/sec: 270.289
INFO:tensorflow:loss = 26.22322, step = 1501 (0.370 sec)
INFO:tensorflow:global_step/sec: 231.226
INFO:tensorflow:loss = 2.0785654, step = 1601 (0.433 sec)
INFO:tensorflow:global_step/sec: 235.545
INFO:tensorflow:loss = 123.52733, step = 1701 (0.426 sec)
INFO:tensorflow:global_step/sec: 232.082
INFO:tensorflow:loss = 2.0639317, step = 1801 (0.431 sec)
INFO:tensorflow:global_step/sec: 208.928
INFO:tensorflow:loss = 22.986021, step = 1901 (0.479 sec)
INFO:tensorflow:global_step/sec: 232.802
INFO:tensorflow:loss = 1.529122, step = 2001 (0.436 sec)
INFO:tensorflow:global_step/sec: 228.916
INFO:tensorflow:loss = 5.2750864, step = 2101 (0.431 sec)
INFO:tensorflow:global_step/sec: 220.872
INFO:tensorflow:loss = 5.8253684, step = 2201 (0.455 sec)
INFO:tensorflow:global_step/sec: 223.127
INFO:tensorflow:loss = 1.205494, step = 2301 (0.445 sec)
INFO:tensorflow:global_step/sec: 229.406
INFO:tensorflow:loss = 5.275128, step = 2401 (0.437 sec)
INFO:tensorflow:global_step/sec: 215.166
INFO:tensorflow:loss = 2.3057137, step = 2501 (0.465 sec)
INFO:tensorflow:global_step/sec: 216.197
INFO:tensorflow:loss = 190.84747, step = 2601 (0.465 sec)
INFO:tensorflow:global_step/sec: 213.937
INFO:tensorflow:loss = 1.7439744, step = 2701 (0.467 sec)
INFO:tensorflow:global_step/sec: 207.594
INFO:tensorflow:loss = 1.9346191, step = 2801 (0.480 sec)
INFO:tensorflow:global_step/sec: 216.48
INFO:tensorflow:loss = 1.8271832, step = 2901 (0.465 sec)
INFO:tensorflow:global_step/sec: 215.345
INFO:tensorflow:loss = 1.3305296, step = 3001 (0.461 sec)
INFO:tensorflow:global_step/sec: 237.625
INFO:tensorflow:loss = 15.167666, step = 3101 (0.420 sec)
INFO:tensorflow:global_step/sec: 228.903
INFO:tensorflow:loss = 97.10033, step = 3201 (0.437 sec)
INFO:tensorflow:global_step/sec: 247.977
INFO:tensorflow:loss = 7.618217, step = 3301 (0.409 sec)
INFO:tensorflow:global_step/sec: 244.553
INFO:tensorflow:loss = 1.2644069, step = 3401 (0.404 sec)
INFO:tensorflow:global_step/sec: 225.847
INFO:tensorflow:loss = 0.88618803, step = 3501 (0.443 sec)
INFO:tensorflow:global_step/sec: 194.109
INFO:tensorflow:loss = 1.1791488, step = 3601 (0.515 sec)
INFO:tensorflow:global_step/sec: 229.183
INFO:tensorflow:loss = 0.9448985, step = 3701 (0.436 sec)
INFO:tensorflow:global_step/sec: 221.341
INFO:tensorflow:loss = 4.310155, step = 3801 (0.452 sec)
INFO:tensorflow:global_step/sec: 231.562
INFO:tensorflow:loss = 3.4309971, step = 3901 (0.432 sec)
INFO:tensorflow:global_step/sec: 201.941
INFO:tensorflow:loss = 2.1991367, step = 4001 (0.495 sec)
INFO:tensorflow:global_step/sec: 212.448
INFO:tensorflow:loss = 1.4632626, step = 4101 (0.475 sec)
INFO:tensorflow:global_step/sec: 213.79
INFO:tensorflow:loss = 1.5751126, step = 4201 (0.464 sec)
INFO:tensorflow:global_step/sec: 220.098
INFO:tensorflow:loss = 7.6889157, step = 4301 (0.454 sec)
INFO:tensorflow:global_step/sec: 211.976
INFO:tensorflow:loss = 12.778307, step = 4401 (0.472 sec)
INFO:tensorflow:global_step/sec: 231.002
INFO:tensorflow:loss = 2.4596934, step = 4501 (0.433 sec)
INFO:tensorflow:global_step/sec: 245.997
INFO:tensorflow:loss = 5.0807867, step = 4601 (0.406 sec)
INFO:tensorflow:global_step/sec: 238.851
INFO:tensorflow:loss = 6.6821003, step = 4701 (0.420 sec)
INFO:tensorflow:global_step/sec: 213.075
INFO:tensorflow:loss = 6.769185, step = 4801 (0.469 sec)
INFO:tensorflow:global_step/sec: 232.619
INFO:tensorflow:loss = 13.955142, step = 4901 (0.430 sec)
INFO:tensorflow:global_step/sec: 218.276
INFO:tensorflow:loss = 5.985962, step = 5001 (0.458 sec)
INFO:tensorflow:global_step/sec: 230.445
INFO:tensorflow:loss = 4.7612863, step = 5101 (0.436 sec)
INFO:tensorflow:global_step/sec: 235.372

INFO:tensorflow:loss = 56.095375, step = 5201 (0.423 sec)
INFO:tensorflow:global_step/sec: 206.311
INFO:tensorflow:loss = 12.590854, step = 5301 (0.485 sec)
INFO:tensorflow:global_step/sec: 234.335
INFO:tensorflow:loss = 3.8056064, step = 5401 (0.425 sec)
INFO:tensorflow:global_step/sec: 229.429
INFO:tensorflow:loss = 4.113492, step = 5501 (0.436 sec)
INFO:tensorflow:global_step/sec: 233.171
INFO:tensorflow:loss = 3.120395, step = 5601 (0.432 sec)
INFO:tensorflow:global_step/sec: 248.427
INFO:tensorflow:loss = 1.9994392, step = 5701 (0.401 sec)
INFO:tensorflow:global_step/sec: 223.376
INFO:tensorflow:loss = 3.6095219, step = 5801 (0.448 sec)
INFO:tensorflow:global_step/sec: 218.922
INFO:tensorflow:loss = 15.160345, step = 5901 (0.457 sec)
INFO:tensorflow:global_step/sec: 233.721
INFO:tensorflow:loss = 13.607901, step = 6001 (0.430 sec)
INFO:tensorflow:global_step/sec: 227.705
INFO:tensorflow:loss = 6.9154453, step = 6101 (0.437 sec)
INFO:tensorflow:global_step/sec: 220.521
INFO:tensorflow:loss = 2.8567667, step = 6201 (0.454 sec)
INFO:tensorflow:global_step/sec: 190.26
INFO:tensorflow:loss = 0.90259343, step = 6301 (0.526 sec)
INFO:tensorflow:global_step/sec: 240.592
INFO:tensorflow:loss = 0.87927735, step = 6401 (0.416 sec)
INFO:tensorflow:global_step/sec: 215.448
INFO:tensorflow:loss = 3.2118602, step = 6501 (0.470 sec)
INFO:tensorflow:global_step/sec: 207.578
INFO:tensorflow:loss = 3.9537463, step = 6601 (0.475 sec)
INFO:tensorflow:global_step/sec: 225.822
INFO:tensorflow:loss = 3.7538347, step = 6701 (0.444 sec)
INFO:tensorflow:global_step/sec: 232.399
INFO:tensorflow:loss = 4.24251, step = 6801 (0.436 sec)
INFO:tensorflow:global_step/sec: 234.944
INFO:tensorflow:loss = 7.1408386, step = 6901 (0.419 sec)
INFO:tensorflow:global_step/sec: 222.342
INFO:tensorflow:loss = 3.8969898, step = 7001 (0.450 sec)
INFO:tensorflow:global_step/sec: 223.533
INFO:tensorflow:loss = 3.3533578, step = 7101 (0.447 sec)
INFO:tensorflow:global_step/sec: 225.227
INFO:tensorflow:loss = 4.6962004, step = 7201 (0.448 sec)
INFO:tensorflow:global_step/sec: 244.714
INFO:tensorflow:loss = 3.568164, step = 7301 (0.408 sec)
INFO:tensorflow:global_step/sec: 219.885
INFO:tensorflow:loss = 3.1870308, step = 7401 (0.453 sec)
INFO:tensorflow:global_step/sec: 216.237
INFO:tensorflow:loss = 3.0179613, step = 7501 (0.461 sec)
INFO:tensorflow:global_step/sec: 236.131
INFO:tensorflow:loss = 1.3437499, step = 7601 (0.431 sec)
INFO:tensorflow:global_step/sec: 217.497
INFO:tensorflow:loss = 2.1108832, step = 7701 (0.453 sec)
INFO:tensorflow:global_step/sec: 230.622
INFO:tensorflow:loss = 0.5430193, step = 7801 (0.434 sec)
INFO:tensorflow:global_step/sec: 221.356
INFO:tensorflow:loss = 4.0138354, step = 7901 (0.451 sec)
INFO:tensorflow:global_step/sec: 239.874
INFO:tensorflow:loss = 36.9202, step = 8001 (0.417 sec)
INFO:tensorflow:global_step/sec: 233.18
INFO:tensorflow:loss = 3.341742, step = 8101 (0.432 sec)
INFO:tensorflow:global_step/sec: 232.435
INFO:tensorflow:loss = 2.8782957, step = 8201 (0.434 sec)
INFO:tensorflow:global_step/sec: 223.186
INFO:tensorflow:loss = 3.216131, step = 8301 (0.442 sec)
INFO:tensorflow:global_step/sec: 217.499
INFO:tensorflow:loss = 1.924285, step = 8401 (0.460 sec)
INFO:tensorflow:global_step/sec: 234.829
INFO:tensorflow:loss = 7.8003373, step = 8501 (0.426 sec)
INFO:tensorflow:global_step/sec: 236.383
INFO:tensorflow:loss = 73.66438, step = 8601 (0.429 sec)
INFO:tensorflow:global_step/sec: 213.785
INFO:tensorflow:loss = 0.7139088, step = 8701 (0.462 sec)
INFO:tensorflow:global_step/sec: 224.837
INFO:tensorflow:loss = 7.797403, step = 8801 (0.445 sec)
INFO:tensorflow:global_step/sec: 227.16
INFO:tensorflow:loss = 4.6581497, step = 8901 (0.440 sec)
INFO:tensorflow:global_step/sec: 222.322
INFO:tensorflow:loss = 4.525242, step = 9001 (0.450 sec)
INFO:tensorflow:global_step/sec: 249.441
INFO:tensorflow:loss = 5.228727, step = 9101 (0.403 sec)
INFO:tensorflow:global_step/sec: 209.01
INFO:tensorflow:loss = 2.8825886, step = 9201 (0.476 sec)
INFO:tensorflow:global_step/sec: 239.969
INFO:tensorflow:loss = 7.7961764, step = 9301 (0.416 sec)
INFO:tensorflow:global_step/sec: 234.823
INFO:tensorflow:loss = 0.6618991, step = 9401 (0.431 sec)
INFO:tensorflow:global_step/sec: 232.062
INFO:tensorflow:loss = 0.49850744, step = 9501 (0.426 sec)
INFO:tensorflow:global_step/sec: 216.591
INFO:tensorflow:loss = 4.7755413, step = 9601 (0.462 sec)
INFO:tensorflow:global_step/sec: 221.809
INFO:tensorflow:loss = 2.6515024, step = 9701 (0.452 sec)
INFO:tensorflow:global_step/sec: 222.6
INFO:tensorflow:loss = 33.875988, step = 9801 (0.449 sec)
INFO:tensorflow:global_step/sec: 218.02
INFO:tensorflow:loss = 92.29264, step = 9901 (0.459 sec)
INFO:tensorflow:Saving checkpoints for 10000 into C:\Users\HIYANA~1\AppData\Local\Temp\tmpnuii7xvh\model.ckpt.
INFO:tensorflow:Loss for final step: 2.4836657.

In [28]:
pred_fun=tf.estimator.inputs.pandas_input_fn(x_test,batch_size=len(x_test),shuffle=False)

In [29]:
pred=list(model.predict(input_fn=pred_fun))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from C:\Users\HIYANA~1\AppData\Local\Temp\tmpnuii7xvh\model.ckpt-10000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [31]:
pred[0]

{'logits': array([-1.643841], dtype=float32),
 'logistic': array([0.16194305], dtype=float32),
 'probabilities': array([0.8380569, 0.1619431], dtype=float32),
 'class_ids': array([0], dtype=int64),
 'classes': array([b'0'], dtype=object),
 'all_class_ids': array([0, 1]),
 'all_classes': array([b'0', b'1'], dtype=object)}

In [32]:
final_preds=[]
for pd in pred:
    final_preds.append(pd['class_ids'][0])

In [33]:
final_preds[:10]

[0, 0, 0, 0, 1, 0, 0, 0, 0, 0]

In [34]:
from sklearn.metrics import classification_report

In [36]:
print(classification_report(y_test,final_preds))

              precision    recall  f1-score   support

           0       0.88      0.93      0.90      7436
           1       0.73      0.59      0.65      2333

    accuracy                           0.85      9769
   macro avg       0.80      0.76      0.78      9769
weighted avg       0.84      0.85      0.84      9769